
*.exe
*.idb
*.obj
*.tlog
*.ilk
*.recipe
*.user
*.vcxproj
*.ipch
*.db-shm
*.db
*.vsidx
*.opendb
*.db-wal
Algorithm/.vs/Algorithm/v17/.suo
Algorithm/Algorithm.sln
Algorithm/Algorithm/Algorithm.vcxproj.filters
*.pdb
Algorithm/Algorithm/x64/Debug/Algorithm.log
